* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.logo > img {
  width: 50px;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10px;
}

.navbar {
  display: flex;
  background-color: rgb(67, 67, 67);
}

.hamburger {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  color: #ffffff;
  padding: 10px;
}

.menu {
  display: none;
}

.product {
  border: 1px solid rgb(152, 152, 152);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

footer {
  display: flex;
}

.social {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-evenly;
  border-top: 1px solid rgb(152, 152, 152);
  list-style: none;
  padding: 10px;
}

@media (min-width: 720px) and (max-width: 990px) {
  header {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
  }

  .logo {
    width: 20%;
  }

  header > h1 {
    width: 80%;
  }
}

@media (min-width: 991px) {
  header {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
  }

  .logo {
    width: 20%;
  }
  
  header > h1 {
    width: 80%;
  }

}
